:root {
    --accent: blue;
}


.button-link {
    background-color: var(--accent);
    color: white;
    border-radius: 3px;
    border: 1px solid var(--accent);
    
}

.button-link:hover {
    background-color: white;
    color: var(--accent);
}

draw-space {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}