<!-- / -->


<html>

<head>
    <title>Regenbogen Partey</title>

    <script type="text/javascript" src="{{ url_for('static', filename = 'index.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}" />

</head>

<body>
    <!--<input type = "button" onclick = "sayHello()" value = "Say Hello" />-->
    <button onclick="changeColor()">changeColor</button>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        var socket = io();
        socket.on('connect', function() {
            socket.emit("join", {"room":"lol"});
        });
        function getRandomColor() {
          var letters = '0123456789ABCDEF';
          var color = '#';
          for (var i = 0; i < 6; i++) {
            color += letters[Math.floor(Math.random() * 16)];
          }
          return color;
        }
        function changeColor(){
            socket.emit("newColor", {"color":getRandomColor(), "room":"lol"})
        }
        window.setInterval(function(){
            changeColor()
        }, 1000);
        socket.on('newColor', function (){
            console.log("luul")
        })
    </script>
</body>

</html>
