<!-- Hier ist bunt -->
<!-- /rainbow/id -->

<html>

<head>
    <title>Regenbogen Party</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}" />

    <!-- JS: if id missing redirect to /-->
</head>

<body>
    <canvas id="drawspace"></canvas>
    <a class="round-link" href="">&uarr;</a> <!-- onlcick: toggle show/hide menu -->
    <div id="menu">
        <!-- QR Code here -->
        <a class="button-link" href="/">Leave room</a><!-- Leave room (back to /) here -->
    </div>
</body>

</html>