<!-- Hier ist bunt -->
<!-- /rainbow/id -->

<!Doctype html>
<html>

<head>
    <title>Regenbogen Party</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}" />

    <script type="text/javascript" src="{{ url_for('static', filename = 'index.js') }}"></script>
</head>

<body>
    <canvas id="drawspace"></canvas>
    <a class="round-link" id="otherbutton" href="#" onclick="toggleMenu();" style="bottom: -1.3rem;">&uarr;</a> <!-- onlcick: toggle show/hide menu -->
    <div id="menu">
        <a class="round-link" href="#" onclick="toggleMenu();" style="top: -1.5rem;">&uarr;</a> <!-- onlcick: toggle show/hide menu -->
        <!-- QR Code here -->
        <a class="button-link" href="/">Leave room</a><!-- Leave room (back to /) here -->
    </div>
</body>
