<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


    <style type="text/css">
        body { background: cyan !important; } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
        .top-buffer { margin-top:20px; }
    </style>
     


    <title>Regenbogen Party</title>
  </head>
  <body>
    <div class="col-md-4 col-md-offset-4">
    <form>
      <div class="form-group">
        <label for="RoomCode">RoomCode: </label>
        <input type="text" class="form-control" id="roomCode" placeholder="RoomCode">
      </div>
      <div class="form-group">
        <label for="animationSelect">Animation:</label>
        <select multiple class="form-control" id="animationSelect">
          <option>Rainbow</option>
          <option>ColorCycle</option>
          <option>Red</option>
          <option>Blue</option>
        </select>
      </div>
    </form>
    <div class="button-box text-center">
      <button class="btn btn-default" onclick="location.href='..';">Back</button>
      <button class="btn btn-default" onclick="update_room();">Update</button>
    </div>

  
  <script type="text/javascript" charset="utf-8">

    socket = io();

    function getLightFuncData() {
      const selectionMap = {
        'Rainbow': {
          identifier: 'colorWheelCanvas',
          params: {}
        },
        'ColorCycle': {
          identifier: 'cycleColorCanvas',
          params: {
            colors: ['#FF0000', '#FF00FF', '#00FF00', '#0000FF']
          }
        },
        'Red': {
          identifier: 'constantColorCanvas',
          params: {
            color: '#FF0000'
          }
        },
        'Blue': {
          identifier: 'constantColorCanvas',
          params: {
            color: '#0000FF'
          }
        }

      }
      
      let selection = document.getElementById('animationSelect').value;
      if(!selectionMap.hasOwnProperty(selection)) {
        console.log("Selection does not exist!");
        return selectionMap['Red']
      }
      return selectionMap[selection]
    }


    function update_room(){
      console.log(document.getElementById('animationSelect').value);

      let data = {
        room: document.getElementById('roomCode').value,
        lightFuncData: getLightFuncData()
      }

      console.log(data);
      console.log(data.lightFuncData);

      //this.socket.on('roomAvailable', redirectToRoom(data.room))
      socket.emit("update_room", data);
    }

    function redirectToRoom(roomID){
      return function() {location.href='../rainbow/'+roomID;}
    }

</script>
</html>